aiohttp==2.3.10
https://github.com/JeckLabs/aiorucaptcha/archive/master.zip
aioredis
cchardet
pyyaml
msgpack-python
coloredlogs
aiosocks
aioamqp
elasticsearch==5.4.0
jinja2==2.9.4
aiohttp-jinja2==0.13.0
aiohttp-swagger
statsd
motor
idna
pymystem3
bs4
psutil==5.4.7
pytesseract
